<div class="card modern-card">
  <h3>{{ id ? 'Editar' : 'Nuevo' }} Cliente</h3>
  <div class="row">
    <div class="col-6">
      <label>Nombre</label>
      <input class="input modern-input" [(ngModel)]="model.nombre" required/>
    </div>
    <div class="col-6">
      <label>Identificacion</label>
      <input class="input modern-input" [(ngModel)]="model.identificacion" required/>
    </div>
    <div class="col-6">
      <label>Teléfono</label>
      <input class="input modern-input" [(ngModel)]="model.telefono" required/>
    </div>
    <div class="col-6">
      <label>Direccion</label>
      <input class="input modern-input" [(ngModel)]="model.direccion" required/>
    </div>
    <div class="col-6">
      <label>Edad</label>
      <input type="number" class="input modern-input" [(ngModel)]="model.edad" required/>
    </div>
    <div class="col-6">
      <label>Genero</label>
      <select class="input modern-input" [(ngModel)]="model.genero" required>
        <option value="m">Masculino</option>
        <option value="f">Femenino</option>
      </select>
    </div>
    <div class="col-3">
      <label>ClienteId</label>
      <input  class="input modern-input" [(ngModel)]="model.clienteId" required/>
    </div>
    <div class="col-3">
      <label>Contraseña</label>
      <input  class="input modern-input" [(ngModel)]="model.Contrasena"/>
    </div>
    <div class="col-3">
      <label>Estado</label>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="model.activo">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  <div class="actions" style="margin-top:12px">
    <a class="btn btn-primary" [routerLink]="['/clientes']">Volver</a>
    <button
  class="btn btn-success m-3"
  (click)="save()"
  [disabled]="!isFormValid()">
  Guardar
</button>
  </div>
</div>
