
*.dll
*.exe
*.pdb
*.cache
*.log
*.db
*.db-shm
*.db-wal
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
bin/
obj/
[Bb]uild/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
publish/
wwwroot/lib/
wwwroot/dist/
wwwroot/node_modules/
TestResults/
*.coverage
*.coveragexml

frontend/banking-app/node_modules/
frontend/banking-app/dist/
frontend/banking-app/.angular/
frontend/banking-app/out-tsc/
frontend/banking-app/.vscode/
frontend/.idea/

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

docker-compose.override.yml
*.env
secrets.json
appsettings.*.json

