
.DS_Store
Thumbs.db
desktop.ini

*.log
*.bak
*.tmp
*.swp

bin/
obj/
out/
Debug/
Release/

*.dll
*.exe
*.pdb
*.cache
*.config
*.db
*.db-shm
*.db-wal

.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

publish/
wwwroot/lib/
wwwroot/dist/
wwwroot/node_modules/

coverage/
TestResults/
*.trx
*.coverage
*.coveragexml

frontend/banking-app/node_modules/

frontend/banking-app/dist/
frontend/banking-app/.angular/
frontend/banking-app/.angular/cache/

frontend/banking-app/tmp/
frontend/banking-app/src/environments/environment*.local.ts
frontend/banking-app/src/environments/environment.development.ts

frontend/banking-app/.vscode/
frontend/banking-app/.idea/

frontend/banking-app/.sass-cache/
frontend/banking-app/.cache/
frontend/banking-app/npm-debug.log*
frontend/banking-app/yarn-debug.log*
frontend/banking-app/yarn-error.log*

cypress/screenshots/
cypress/videos/
*.spec.ts

*.env
.env.*
secrets.json
appsettings.Development.json
appsettings.Local.json

docker-compose.override.yml
*.pid
*.tar
*.zip
logs/
!frontend/banking-app/src/environments/environment.ts
!frontend/banking-app/src/environments/environment.prod.ts

backend/node_modules/
backend/bin/
backend/obj/
backend/Debug/
backend/Release/
backend/*.log
backend/*/*.log
backend/.idea
