<div class="card modern-card">
  <h3>{{id ? 'Editar' : 'Nuevo'}} Movimiento</h3>
  <div class="row">
    <div class="col-6">
      <label>Cuenta ID</label>
      <input class="input modern-input" type="number" [(ngModel)]="model.cuentaId"/>
    </div>
    <div class="col-6">
      <label>Fecha</label>
      <input class="input modern-input" type="date" [(ngModel)]="model.fecha"/>
    </div>
    <div class="col-6">
      <label>Concepto</label>
      <input class="input modern-input" [(ngModel)]="model.concepto"/>
    </div>
    <div class="col-6">
      <label>Monto</label>
      <input class="input modern-input" type="number" step="0.01" [(ngModel)]="model.monto"/>
    </div>
  </div>
  <div class="actions" style="margin-top:12px">
    <a class="btn btn-primary m-3" [routerLink]="['/movimientos']">Volver</a>
    <button class="btn btn-success" (click)="save()">Guardar</button>
  </div>
</div>
